Objective: The objective of this assignment is to design and build a responsive website that looks good on various devices such as desktops, laptops, tablets, and smartphones.

Task Description:

    Website Planning: Create a site plan - site map + wireframe for each page.
    Website Design: Visual hierarchy, typography, color, and images
    Responsiveness: Works on various devices and screen resolutions.

Requirements:

    >= 3 different pages / sections.

    -------------------------------
    HTML5 and CSS3 standards.
    Hosted online (you can use free hosting like GitHub Pages).
    Copy - send on Moodle
    -------------------------------

    Presentation: Prepare a presentation of your website for the class. Describe the purpose of the site, the design process, and any challenges you encountered.