@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&family=Roboto&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/*ROOT*/
/* declaring variables */
:root{
    --light : #f8f9fa;
    --secondary: #adb5bd;
    --dark: #343a40;
    --primary-color: #f15bb5;
    --secondary-color: #2ec4b6;
    --border : #e9ecef;
}


body{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}

a{
    text-decoration: none;
}

/* Selects all direct child elements of any element */
*>*{
    box-sizing: border-box;
}

/*GLOBAL*/
.text-light{
    color:var(--light)
}

.text-secondary{
    color:var(--secondary)
}

.text-dark{
    color: var(--dark)
}

.text-primary{
    color: var(--primary-color)
}

.bg-light{
    color: var(--light)
}



/*SECTION*/